<div class="col-sm-6 col-sm-offset-3">
	<form action="/search" method="POST">

	    <div class="form-group">
	        <label>Search by Keyword</label>
	        <input type="text" name="search" class="form-control" placeholder="search here">
	    </div>

	    <div class="form-group">
	        <button type="submit" class="btn btn-primary btn-md">Search</button>
	    </div>

	</form>

	<form>

	    <div class="form-group">
	        <textarea  id="tweeting" class="form-control" name="text" placeholder="tweet what's in your mind"></textarea>
	    </div>

	    <div class="form-group">
	        <button id='btnsend' class="btn btn-primary btn-md">Tweet</button>
	    </div>

	</form>

	<div><h1>MY TIMELINE</h1></div>

		<div  id="tweetbody">

		</div>


</div>
